.controls-wrapper{
    margin-left: 26px;
    margin-top: 12px;
   
  
    .controls{

        button{
            
            font-size: 17px;
            border: none;
            background: transparent;
            margin-right: 7px;
            color: #ffff;
        }
    }
}